{% extends 'index.html' %}
{% load static %}
{% block title %}St Fancis - Blog {% endblock %}
{% block content %}
<div class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'school/images/bg_10.jpg' %}'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
          <h1 class="mb-3 bread">Blog</h1>
        </div>
      </div>
    </div>
  </div>



<div class="container">

<h1>Post</h1>

<ul>
{% for post in object_list %}
   <li> <a href="{% url 'article_detail' post.pk %}"> {{ post.title }} </a> - {{ post.author.first_name }} 
    {{ post.author.last_name }}<br>
    {{ post.body }}</li>
{% endfor %}
</ul>



<br><br>
<a href="{% url 'add_post' %}" class="btn btn-primary">Add Post</a>
</div>

{% endblock %}