{% extends 'index.html' %}
{% load static %}
{% block title %}St Fancis - Update Post {% endblock %}
{% block content %}
<div class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'school/images/bg_10.jpg' %}'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
          <h1 class="mb-3 bread">Blog</h1>
        </div>
      </div>
    </div>
  </div>



<div class="container">
<br><br>
<h1> Update Post</h1> <br><br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">Update</button>
    </form>
</div>

</div>


{% endblock %}