{% extends 'index.html' %}
{% load static %}
{% block title %}St Fancis - About {% endblock %}
{% block content %}


    <div class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'school/images/bg_9.jpg' %}'); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 bread">About</h1>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url('{% static 'school/images/bg_8.jpg' %}'); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
    				<h2 class="mb-4">St. Francis Children's Village</h2>
    				<p>The Children's Village is the inspiration of Fr. Francis Limo Riwa who in 1999 began to rescue orphaned and abandoned children from the streets. Today, it is home, family and school to more than 600 children, living on two campuses: the St. Clare Girls’ Center and the St. Francis Home for Boys. It is a safe haven that provides quality education and rehabilitative efforts for deterring children from destructive addictive behaviors often learned from the place they call home.</p>
    				<p>Children are exposed to good health care, hygiene, nutrition, and education while acquiring tools for proper social behavior. At the end of the introductory period, it is then that they join the other children of The Village, while furthering their education capabilities. 
              Teachers take on the role of parents and previous neglected children now have a sense of family.</p>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section-3 img" style="background-image: url('{% static 'school/images/bg_3.jpg' %}');">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-center">
    			<div class="col-md-9 about-video text-center">
    				<h2 class="ftco-animate">St. Francis Children's Village</h2>
    				<div class="video d-flex justify-content-center">
    					<a href="https://vimeo.com/45830194" class="button popup-vimeo d-flex justify-content-center align-items-center"><span class="ion-ios-play"></span></a>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="ftco-counter bg-light" id="section-counter">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10300">0</strong>
		                <span>Sponsered Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="7896">0</strong>
		                <span>Enrolled Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="400">0</strong>
		                <span>Sponsers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="200">0</strong>
		                <span>Staff</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
    <section class="ftco-section testimony-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">What Our Student Says</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12 ftco-animate">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>“I don’t use agro vets or medicines, either, and instead I use hydrogen peroxide to treat water. When you mix 1.2 millilitre of hydrogen peroxide in 20 litres of water, the water is completely free from any contamination or pesticides. And when the animal drinks it, it clears all parasites, making the animal free from illness and very healthy. I rear catfish.”</p>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    
    {% endblock %}