{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hero-wrap d-block w-100" style="background-image: url('{% static 'school/images/bg_6.jpg' %}');">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center">
                  <h1 class="mb-4">No Nation Can Prosper In Life Without Education</h1>
                  <p><a href="#" class="btn btn-primary px-4 py-3">Donations</a> <a href="#" class="btn btn-secondary px-4 py-3">Our Programs</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="hero-wrap d-block w-100" style="background-image: url('{% static 'school/images/bg_5.jpg' %}');">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center">
                  <h1 class="mb-4">Lord, make me an instrument of your peace
                    Where there is hatred, let me sow love</h1>
                  <p><a href="#" class="btn btn-primary px-4 py-3">Donations</a> <a href="#" class="btn btn-secondary px-4 py-3">Our Programs</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item ">
          <div class="hero-wrap d-block w-100" style="background-image: url('{% static 'school/images/image_9.jpg' %}');">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center">
                  <h1 class="mb-4"> 'Oh, that You would bless me indeed, and enlarge my territory, that Your hand would be with me, and that You would keep me from evil, that I may not cause pain. ' </h1>
                  <p><a href="#" class="btn btn-primary px-4 py-3">Donations</a> <a href="#" class="btn btn-secondary px-4 py-3">Our Programs</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>

      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>  
    
    
    </div>

    <section class="ftco-search-course">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="courseSearch-wrap d-md-flex flex-column-reverse">
    					<div class="full-wrap d-flex ftco-animate">
    						<div class="one-third order-last p-5">
    							<span>Ambrose Bierce</span>
                  <h3>A heart for Orphans</h3>
                  <p>“
                    ORPHAN, n. A living person whom death has deprived of the power of filial ingratitude --a privation appealing with a particular eloquence to all that is sympathetic in human nature. When young the orphan is commonly sent to an asylum, where by careful cultivation of its rudimentary sense of locality it is taught to know its place. It is then instructed in the arts of dependence and servitude and eventually turned loose to prey upon the world as a bootblack or scullery maid.</p>
    						
		        
    						</div>
    						<div class="one-forth order-first img" style="background-image: url('{% static 'school/images/bg_7.jpeg' %}');"></div>
    					</div>
    					<div class="full-wrap ftco-animate">
    						<div class="one-half">
    							<div class="featured-blog d-md-flex">
    								<div class="image d-flex order-last">
    									<a href="#" class="img" style="background: url('{% static 'school/images/bg_5.jpg' %}');"></a>
    								</div>
    								<div class="text order-first">
    									<span class="date">Aug 20, 2018</span>
    									<h3><a href="#">We offer Scolarships to the top Performers</a></h3>
											<p>Chesnut Hill University awarding one of our top students, as well as Fr. Limo Liwa for his acts of charity.</p>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-3 py-4 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-exam"></span></div>
              <div class="media-body px-3">
                <h3 class="heading">Admission</h3>
                <p>We admit both local and non local students to our boarding facilities, we admit all students upto secondary level. .</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-3 py-4 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-blackboard"></span></div>
              <div class="media-body px-3">
                <h3 class="heading">Our Program</h3>
                <p>We take in homeless children and children from disadvantaged families.Special consideration is given to smart students that need to further their studies but are unable.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-3 py-4 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-books"></span></div>
              <div class="media-body px-3">
                <h3 class="heading">Natural Therapies Clinic</h3>
                <p>We educate you on some of the locally available plants which work miracles on some of the adamant diseases.Also inclusive are ways to access the therapies and guide on usage at affordable and pocket friendly prices.</p>
              </div>
            </div>    
          </div>
        </div>
    	</div>
    </section>


    <section class="ftco-section-3 img" style="background-image: url('{% static 'school/images/bg_3.jpg' %}');">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-center">
    			<div class="col-md-9 about-video text-center">
    				<h2 class="ftco-animate">Here in St.Francis we believe that "Its in giving that we receive" </h2>
    				<div class="video d-flex justify-content-center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/1aTJyzRHZt8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="ftco-counter bg-light" id="section-counter">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10300">0</strong>
		                <span>Sponsered Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1896">0</strong>
		                <span>Enrolled Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="400">0</strong>
		                <span>Our Sponsers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="5">0</strong>
		                <span>Schools</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">What Our Student Says</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12 ftco-animate">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url('{% static 'school/images/person_10.jpg' %}')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">It is Father Francis Limo Riwa who taught me the spirit of giving without expecting back. The spirit of giving out even if you dont have. Yes we could visit kids, offer the cleaninig services and you could go home happy. We all felt good being part of it. Meru University YCS was good with this man. Am happy mainstream media is recognizing him now.</p>
                    <p class="name">Collins Bwayo Mwandishi</p>
                    <span class="position">Meru University Student</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Sponsers Comments</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url('{% static 'school/images/person_1.jpg' %}');"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
        					<span class="position">Sponser</span>
        					<p class="ftco-social d-flex">
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a>
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a>
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a>
		              </p>
        				</div>
        			</div>
        			<div class="text">
        				<p>My name is Angela and I am so happy to be your sponsor! I am excited to learn more about you and to watch you grow up.</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4 mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url('{% static 'school/images/person_2.jpg' %}');"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
        					<span class="position">Sponser</span>
        					<p class="ftco-social d-flex">
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a>
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a>
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a>
		              </p>
        				</div>
        			</div>
        			<div class="text">
        				<p>My name is Angela and I am so happy to be your sponsor! I am excited to learn more about you and to watch you grow up.</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4 mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url('{% static 'school/images/person_3.jpg' %}');"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
        					<span class="position">Sponser</span>
        					<p class="ftco-social d-flex">
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a>
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a>
		                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a>
		              </p>
        				</div>
        			</div>
        			<div class="text">
        				<p>My name is Angela and I am so happy to be your sponsor! I am excited to learn more about you and to watch you grow up.</p>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Programs</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4 d-flex ftco-animate">
    				<div class="course align-self-stretch">
    					<a href="#" class="img" style="background-image: url('{% static 'school/images/course_8.jpg' %}')"></a>
    					<div class="text p-4">
    						<p class="category"><span>ST. Francis</span></p>
    						<h3 class="mb-3"><a href="#"> St Francis Boys Center</a></h3>
    						<p> It is a safe haven that provides quality education and rehabilitative efforts for deterring children from destructive addictive behaviors often learned from the place they call home.</p>
    						<p><a href="#" class="btn btn-primary">Enroll now!</a></p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex ftco-animate">
    				<div class="course align-self-stretch">
    					<a href="#" class="img" style="background-image: url('{% static 'school/images/course_9.jpg' %}')"></a>
    					<div class="text p-4">
    						<p class="category"><span>ST. Clare Center</span></p>
    						<h3 class="mb-3"><a href="#">Home for girls</a></h3>
    						<p>Children are exposed to good health care, hygiene, nutrition, and education while acquiring tools for proper social behavior. At the end of the introductory period, it is then that they join the other children of The Village, while furthering their education capabilities. </p>
    						<p><a href="#" class="btn btn-primary">Enroll now!</a></p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex ftco-animate">
    				<div class="course align-self-stretch">
    					<a href="#" class="img" style="background-image: url('{% static 'school/images/course_7.jpg' %}')"></a>
    					<div class="text p-4">
    						<p class="category"><span>St Flomena</span></p>
    						<h3 class="mb-3"><a href="#">Home for Hope</a></h3>
    						<p>Teachers take on the role of parents and previous neglected children now have a sense of family.Children are exposed to good health care, hygiene, nutrition, and education while acquiring tools for proper social behavio</p>
    						<p><a href="#" class="btn btn-primary">Enroll now!</a></p>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="row justify-content-center mt-5">
        	<div class="col-md-10 ftco-animate">
        		<p><strong>Many people</strong>“ complain of health complications, heart burn, constipation and acidity. This is likely because they ate at the wrong time or they never chewed their food properly. My boys eat at exactly 5pm and no one ever complains of heart burn, constipation or acids,” .

              “Their diet is well balanced, too. They take breakfast at 7am. There are some whom I have put under wheat grass juice, which is similar to human blood, it has chlorophyll. People can easily heal themselves naturally and I practise this in a bid way,” <sup>quoted</sup> Limo Riwa.</p> 
        		<p><span>Learn more about our therapies?</span><a href="#"> Natural Therapies Clinic</a></p>
        	</div>
        </div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Recent from blog</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'school/images/image_7.jpg' %}');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">June 12, 2020</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-3"><a href="#">Catholic priest repays dowry to rescue girl from marriage to old man</a></h3>
                <p>A girl from Samburu County has been rescued from an early marriage by a Catholic priest after negotiations by elders to return dowry.
                  Lilian Nabaru, 15 was married off by her uncles in 2015 while she was only in Standard Eight......</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'school/images/image_9.jpg' %}');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">August 12, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-3"><a href="#">Franciscan nun rescues children affected by HIV/AIDS in Kenya</a></h3>
                <p>SAMBURU, KENYA — When the sun rises in this remote region of northern Kenya at 6 a.m., it is a new dawn for Missionary Sr. Lilly Manavalan. Her day starts with a trek for over an hour across a deep valley to reach the streets where she can find vulnerable children living with HIV.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'school/images/image_8.jpg' %}');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">July 12, 2020</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-3"><a href="#">“A MAN OF CHANGE”; FR.FRANCIS LIMO RIWA</a></h3>
                <p>Parenting is a journey where a person commits to bring up his/her beloved children and fully takes the responsibility to give there best . Very few individuals can bring up children whom they did not give birth to. It requires a person with a big heart to do so.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Latest Events</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'school/images/event-1.jpg' %}');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Sep. 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Harambee on Construction of Nchiru Church</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Parish </span></p>
                <p>We invite you all to our fundaraising which will be held at our parish in Nchiru in order to commence the contruction of the parish church.</p>
                <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry d-flex align-self-stretch flex-column-reverse">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'school/images/event-2.jpg' %}');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Sep. 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">NHIF Cards for the Aged</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue St Francis</span></p>
                <p>Due to the need for proper medication at affordable prices.We are offering free NHIF cards to the aged in our parish.</p>
                <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'school/images/event-3.jpg' %}');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Sep. 10, 2018</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Sensitization on Good Health Habits</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> St Clare </span></p>
                <p>The raising Cancer cases and other associated disease are due to  poor health habits.Learn more on how to keep your self free of diseases associated by poor hygiene and sanitization on our seminar.</p>
                <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>“I don’t use agro vets or medicines, either, and instead I use hydrogen peroxide to treat water. When you mix 1.2 millilitre of hydrogen peroxide in 20 litres of water, the water is completely free from any contamination or pesticides. And when the animal drinks it, it clears all parasites, making the animal free from illness and very healthy. I rear catfish.”</p>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}